.outer-container{
    border: solid red 2px;
    background-color: #d0a90b;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
align-content: center;
  row-gap: 30px;
    flex-wrap: wrap;
    width: 59%;
    align-items: center;
}
.inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: solid black 2px;
 grid-row: auto;
}

li {
    list-style: none;
    border-radius:5px;
    background-color: #f0f4f6;
    width: 10rem;
    text-align: center;
}